:host {
    box-sizing: border-box;
    display: block;
    height: var(--size);
    padding: 0 calc(var(--size) / 2);
    position: relative;

    .knob {
        background-color: #202020;
        border: solid calc((var(--size) - var(--start-size)) / 2) white;
        border-radius: 50%;
        box-sizing: border-box;
        height: var(--size);
        position: absolute;
        pointer-events: none;
        width: var(--size);
    }

    .track {
        fill: rgb(255 255 255 / 70%);
        height: 100%;
        width: 100%;
    }
}