.control {
    background-color: #000;
    box-shadow: 0 0 0 3px rgb(255 255 255 / 19%);
    border-radius: 5px;
    box-sizing: content-box;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.picker {
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 26%);
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    padding: 12px 0 24px 0;
    position: fixed;
    z-index: 9999;
    width: 320px;
}

.picker::before {
    background-color: #202020CC;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border: solid 1px rgb(255 255 255 / 8.37%);
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
}

.picker.active {
    display: flex;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
    padding: 0 12px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputGroup label {
    color: rgb(255 255 255 / 78.6%);
    font-size: 13px;
    font-weight: 500;
}

input {
    appearance: none;
    background-color: rgb(255 255 255 / 6.05%);
    border: solid 1px rgb(255 255 255 / 9.3%);
    border-radius: 5px;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    width: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hexInput {
    width: 64px;
}