@import './main.scss';

:host {
    @include floatingBar();

    align-items: center;
    display: flex;
    gap: 12px;
    height: 24px;
    inset: auto 0;
    margin: 16px auto;    
    padding: 8px  16px;
    width: max-content;
}

.statusItem {
    $color: rgb(255 255 255 / 50%);
    
    align-items: center;
    color: $color;
    display: flex;
    font-size: 15px;
    gap: 4px;

    & .icon {
        fill: $color;
        height: 18px;
        transition: fill 0.1s;
        width: 18px;
    }

    & span {
        background-color: rgb(255 255 255 / 3%);
        border-radius: 8px;
        box-sizing: border-box;
        padding: 2px 6px;
    }

    & .zoomFactor {
        width: 56px;
    }

    & .rotation {
        width: 42px;
    }

    & .origin {
        width: 128px;
    }
}